<div class="container-fluid adjustment-top">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 text-center">
      <h3>Change Pizza Status in Firestore through NGRX</h3>
      <hr>
      <div *ngFor="let pizza of pizzas | async">
        <div class="row">
          <div class="col-lg-12">
            <h4>Pizza ID: {{ pizza.id }} </h4>
          </div>
        </div>  
        <div class="row">
          <div class="col-lg-12">
            <img [src]="pizza.image" class="pizza-image">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <h4><span class="badge green" style="margin-right: 20px;">Status: {{ pizza.status }}</span><span class="badge red">Size: {{ pizza.size }}</span></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <button type="button" class="btn primary-color waves-light" mdbWavesEffect (click)="updatePizza(pizza.id, 'delivered')">
                Update Status to Delivered
            </button>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>