@import '../../../themes/_adjustments';

agm-map {
    width: 100%;
    height: 500px;
}

.doc {
    font-weight: 1.2em;
    font-weight: bold;
}

button {
    margin-bottom: 20px;
}

.point {
    margin-bottom: 0;
}