<div class="container-fluid adjustment-top">
  <div class="row">  
    <div class="col-lg-8 offset-lg-2 text-center">
      <h3>GeoQueries with Firestore</h3>
      <hr>
    </div>
  </div>
  <div class="row">  
    <div class="col-lg-4 text-center">
      <button class="btn primary-color waves-light" mdbWavesEffect [disabled]="clicked" (click)="start()">Start Realtime Feed</button>
      <p>Test data generated in Firestore:</p>
      <div *ngIf="testDoc | async as doc" class="doc">
        Latitude: {{ doc.pos.geopoint.latitude | number }}
        <br> 
        Longitude: {{ doc.pos.geopoint.longitude | number }}
        <br>
        GeoHash: {{ doc.pos.geohash }} 
      </div>
    </div>
    <div class="col-lg-8 text-center">
      <agm-map [latitude]="45.50" [longitude]="-73.80" [zoom]="8">
        <agm-marker [iconUrl]="icon(point.id)" *ngFor="let point of points | async; trackBy: trackByFn" [latitude]="point.pos.geopoint.latitude" [longitude]="point.pos.geopoint.longitude">
          <agm-info-window>
            <h5 class="point">Latitude: {{ point.pos.geopoint.latitude }}</h5>
            <h5 class="point">Longitude: {{ point.pos.geopoint.longitude }}</h5>
            <h5 class="point">Geohash: {{ point.pos.geohash }}</h5>
          </agm-info-window>
        </agm-marker>
        <agm-circle [latitude]="45.50" [longitude]="-73.80" [radius]="50000"></agm-circle>
      </agm-map>
    </div>
  </div>
</div>