<div class="container-fluid adjustment-top" *ngIf="contentfulPage">
  <div class="row">  
    <div class="col-lg-8 offset-lg-2 text-center">
      <h3>Text Retrieval, Image Retrieval and i18n with Contentful</h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 offset-lg-2 text-center">
      <button
        type="button" class="btn primary-color waves-light" mdbWavesEffect
        [ngClass]="selectedLocale == 'en-US' ? '' : 'locale-inactive'"
        (click)="setLanguageToggle($event)">{{ contentfulPage.fields.enText }}
      </button>
      <button 
        type="button" class="btn primary-color waves-light" mdbWavesEffect
        [ngClass]="selectedLocale == 'en-US' ? 'locale-inactive' : ''"
        (click)="setLanguageToggle($event)">{{ contentfulPage.fields.frText }}
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="row">
        <div class="col-lg-4" *ngFor="let pizzaInfo of contentfulPage.fields.pizzasInfo | paginate: { itemsPerPage: 3, currentPage: p }">
            <div class="card pizza-card" *ngIf="pizzaInfo">
              <div class="view hm-white-slight waves-light" mdbRippleRadius>
                <div class="pizza-card-image" [style.background-image]="pizzaInfo.url"></div>
              </div>
              <div class="card-body">
                <h4 class="card-title text-center">{{ pizzaInfo.id }}</h4>
                <hr>
                <div class="row">
                  <div class="col-lg-12 text-center">
                    <h4><span class="badge green">{{ pizzaInfo.status }}</span><span class="badge red">{{ pizzaInfo.size }}</span></h4>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="row" *ngIf="contentfulPage.fields.pizzasInfo.length != 0">
          <pagination-controls
            class="real-center pagination-controls"
            (pageChange)="p = $event"
            previousLabel="{{contentfulPage.fields.previousText}}"
            nextLabel="{{contentfulPage.fields.nextText}}"
          ></pagination-controls>
        </div>
    </div>
  </div>
  <div class="row">  
    <div class="col-lg-8 offset-lg-2 text-center">
      <h3>Markup Conversion, Internal Links and Custom Styling with Contentful</h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 offset-lg-2 text-center">
      <div class="contentful-text" [innerHTML]="contentfulPage.fields.pizzasDescription | markdownToHtml" appSpaLinkTransformer></div>
    </div>
  </div>
</div>