@import '../../../themes/_adjustments';
  
.locale-inactive {
    display: none;
}

.card {
  h4 {
    margin-bottom: 0;
  }
}

.real-center {
    margin: 0 auto;
}

/deep/ .contentful-text {
  p {
    text-align: left;
    a {
      color: #4053AF;
    }
  }
}

.pagination-controls /deep/ .ngx-pagination {
    padding-left: 0;
    font-size: 1.25rem;
    .current {
        background: #4053AF; 
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        font-weight: 700;
        border-radius: 2px;
    }
}

.pizza-card {
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-title {
  margin-bottom: 0;
}

p {
  margin-bottom: 0 !important;
}

.pizza-card-image {
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
  z-index: 1;
}

