<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo fixed-top">
  <links>
    <ul class="navbar-nav real-center">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLinkActive="navbar-active" routerLink="/">Custom Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLinkActive="navbar-active" routerLink="/google-sign-in">Google Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLinkActive="navbar-active" routerLink="/ngrx">NGRX Pizza</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLinkActive="navbar-active" routerLink="/algolia">Algolia Pizza</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLinkActive="navbar-active" routerLink="/contentful">Contentful Pizza</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLinkActive="navbar-active" routerLink="/graphql">GraphQL Tweets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLinkActive="navbar-active" routerLink="/geoquery">GeoQueries</a>
      </li>
    </ul>
  </links>
</mdb-navbar>