<div class="container-fluid adjustment-top">
  <div class="row">  
    <div class="col-lg-8 offset-lg-2 text-center">
      <h3>Optimistic UI with Apollo GraphQL</h3>
      <hr>
      <div *ngFor="let tweet of (tweets | async)?.tweets">
        <div class="row">
          <div class="col-12 text-center">
            <h3>{{tweet.text}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-6 text-right">
            <a class="btn-floating btn-lg waves-light" mdbWavesEffect (click)="likeTweet(tweet.id, tweet.likes, tweet.text)"><i class="fa fa-heart"></i></a>
          </div>
          <div class="col-6 text-left">
            <p>{{tweet.likes}}</p>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>