<div class="container-fluid adjustment-top">
  <div class="row">  
    <div class="col-lg-8 offset-lg-2 text-center">
      <h3>Search through newly created Pizzas in Firestore with Algolia</h3>
      <hr>
      <ais-instantsearch [config]="searchConfig" *ngIf="searchConfig">
        <ais-search-box (change)="searchChanged($event)"></ais-search-box>
        <ais-hits *ngIf="showResults">
          <ng-template let-hits="hits">
            <div *ngFor="let hit of hits" class="hits">
              <div class="row">
                <div class="col-12">
                  <img [src]="hit.image" class="algolia-image">
                  <div class="algolia-description">
                    ID: <ais-highlight attribute="id" [hit]="hit"></ais-highlight>, 
                    Size: <ais-highlight attribute="size" [hit]="hit"></ais-highlight>, 
                    Status: <ais-highlight attribute="status" [hit]="hit"></ais-highlight>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ais-hits>
      </ais-instantsearch>
    </div>
  </div>
</div>