input:focus {
    outline: none !important;
    border-radius: 0px !important;
}

.ais-SearchBox-input {
    outline: none !important;
    border-radius: 0px !important;
}

.hits {
    text-align: left;
}

.ais-highlight {
    font-size: 20px !important;
}

.algolia-description {
    font-size: 20px;
    color: gray;
}

.algolia-image {
    width: 200px;
}