<div class="container-fluid adjustment-top">
  <div class="row">  
    <div class="col-lg-8 offset-lg-2 text-center">
      <h3>Sign In to Google with data stored in Firestore</h3>
      <hr>
      <div *ngIf="googleAuthService.user | async; then authenticated else guest;"></div>
    </div>
  </div>
</div>

<ng-template #guest>
  <h3>Howdy, GUEST</h3>
  <p>Login to get started...</p>
  <button type="button" class="btn primary-color waves-light" mdbWavesEffect (click)="googleAuthService.googleLogin()">Sign In</button>
</ng-template>

<ng-template #authenticated>
  <div *ngIf="googleAuthService.user | async as user">
    <h3>Howdy, {{ user.displayName }}</h3>
    <img class="google-sign-in-img" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'">
    <p>UID: {{ user.uid }}</p>
    <button type="button" class="btn primary-color waves-light" mdbWavesEffect (click)="googleAuthService.signOut()">Sign Out</button>
  </div>
</ng-template>