.adjustment-top {
    margin-top: 70px;
}

.real-center {
    margin: 0 auto;
}

h3, h4, p, img, button :not(.navbar-toggler-icon) {
    margin-bottom: 20px;
}

hr {
    margin: 20px auto 20px auto;
}

mat-form-field {
    width: 100%;
}