<div class="container-fluid adjustment-top">
  <div class="row">  
    <div class="col-lg-8 offset-lg-2 text-center">
      <h3>Signup with Firestore</h3>
      <hr>
      <div *ngIf="customAuthService.creationStatus | async; then signedUp else guest;"></div>
      <br>
      <h3>Custom Sign In with data stored in Firestore</h3>
      <hr>
      <div *ngIf="customAuthService.user | async; then signedIn else signedOut;"></div>
    </div>
  </div>
</div>

<ng-template #guest>
    <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="signupEmail">
        <mat-error *ngIf="signupEmail.hasError('required')">An email is required.</mat-error>
        <mat-error *ngIf="!signupEmail.hasError('required') && signupEmail.hasError('email')">Please enter a valid email.</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="signupPassword" [type]="'password'">
        <mat-error *ngIf="signupPassword.hasError('required')">A password is required.</mat-error>
        <mat-error *ngIf="!signupPassword.hasError('required') && signupPassword.hasError('minlength')">The password must be at least 6 characters long.</mat-error>
      </mat-form-field>
      <br>
      <button type="submit" class="btn primary-color waves-light" mdbWavesEffect [disabled]="!signupForm.valid">Signup</button>
    </form>
  </ng-template>

  <ng-template #signedUp>
    <h3>Signed Up!</h3>
  </ng-template>

<ng-template #signedOut>
    <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="signInEmail">
        <mat-error *ngIf="signInEmail.hasError('required')">An email is required.</mat-error>
        <mat-error *ngIf="!signInEmail.hasError('required') && signInEmail.hasError('email')">Please enter a valid email.</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="signInPassword" [type]="'password'">
        <mat-error *ngIf="signInPassword.hasError('required')">A password is required.</mat-error>
        <mat-error *ngIf="!signInPassword.hasError('required') && signInPassword.hasError('minlength')">The password must be at least 6 characters long.</mat-error>
      </mat-form-field>
      <br>
      <button type="submit" class="btn primary-color waves-light" mdbWavesEffect [disabled]="!signInForm.valid">Sign In</button>
    </form>
  </ng-template>

  <ng-template #signedIn>
    <div *ngIf="customAuthService.user | async as user">
      <h3>Howdy, {{ user.email }}</h3>
      <button type="button" class="btn primary-color waves-light" mdbWavesEffect (click)="customAuthService.signOut()">Sign Out</button>
    </div>
  </ng-template>
